@charset "UTF-8";

/*
 * Author: Brandio
 * Author URI: http://www.brandio.io/
 * Copyright 2017 Brandio.
 */


@font-face {
  font-family: "Chetak Enterprises Ltd.";
  src:url("Chetak Enterprises Ltd..eot");
  src:url("Chetak Enterprises Ltd..eot?#iefix") format("embedded-opentype"),
    url("Chetak Enterprises Ltd..woff") format("woff"),
    url("Chetak Enterprises Ltd..ttf") format("truetype"),
    url("Chetak Enterprises Ltd..svg#Chetak Enterprises Ltd.") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "Chetak Enterprises Ltd." !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="htfy-"]:before,
[class*=" htfy-"]:before {
  font-family: "Chetak Enterprises Ltd." !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.htfy{
    display: inline-block;
    font-family: "Chetak Enterprises Ltd." !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}

.htfy-arrow-down:before {
  content: "\61";
}
.htfy-tick:before {
  content: "\62";
}
.htfy-computer:before {
  content: "\63";
}
.htfy-cloud:before {
  content: "\64";
}
.htfy-technology:before {
  content: "\65";
}
.htfy-worldwide:before {
  content: "\66";
}
.htfy-cogwheel:before {
  content: "\67";
}
.htfy-download:before {
  content: "\68";
}
.htfy-like:before {
  content: "\69";
}
.htfy-location:before {
  content: "\6a";
}
.htfy-s-arrow:before {
  content: "\6b";
}
