<img src="assets/images/home/about.png" style="width:100%" class="img-responsive">
<div id="info" class="container-fluid" ng-init="scrollTop()" ng-if="appData.about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 ng-if="appData.about.title">


                  <a  class="back-btn"  href="javascript:void(0)" ui-sref="home"><img src="images/back.svg" width="20" /> </a>{{appData.about.title}} </h3>

                <div class="info-text text-justify">

                  <p>"Chetak Enterprises Limited (CEL), is a leading player engaged in the development of National and State Highways across India and Africa.</p>

                  <p>The Company has a strong presence in India in the field of Highway development on PPP basis. A separate EPC division within the Company looks after the development of roads on EPC mode in India & abroad,</p>
                  <p>Since inception company has focused on:</p>
                  <ol type="a">
                    <li>Quality</li>
                    <li>Timely deliverables</li>
                    <li>Cost management.</li>
                  </ol>
                  <p>Company has been successful in ensuring its commitment towards the three aforestated parameters as all the Projects executed till today faced no adverse cost or time overrun & no major quality issue has come up in any of the stretch.</p>
                  <p>Company has its own in-house structural design team which continuously works on innovative construction friendly methodologies. Besides this CEL has been engaging international consultants of repute to meet the global standards.</p>
                  <p>CEL has developed more than 1000Km of highways in India and is currently executing projects worth INR 73.48 billion in India and have 10 operational projects which are collecting toll on these highways which are developed on BOT.</p>
                  <p>Company has a subsidiary in Africa in the name and style of ‘Chetak Zambia Limited’ which is executing road project on EPC in Zambia (Africa)."</p>

                </div>
                <div class="text-center">
                  <h3>Vision:</h3>
                  <blockquote class="info-text" style="font-style:italic; font-size:26px;">
                    "To be recognised globally as a “Team Chetak” committed to develop safe and quality infrastructure &amp; for timely execution of projects."
                  </blockquote>
                </div>

                <div class="text-center">
                  <h3>Mission:</h3>
                  <ul class="info-text text-left">
                    <li>To contribute in Country’s infrastructure development so that masses today and generations to come enjoy safe & better life.</li>
                    <li>To create a team which is extremely motivated to take up unusual challenges & deliver them</li>
                    <li>Strategically meet the growing needs of infrastructure requirements through cost effective and innovative engineering solutions</li>
                    <li>Imbibing confidence in stakeholders about no gap between commitments & deliverables of the company</li>
                  </ul>

                </div>

                <div class="row" style="width:300px; margin:0 auto;">


                  <div class="text-center pull-left"><a class="dir-link" href="javascript:void(0)" ui-sref="under_construction">Domestic Projects</a></div>
                  <div class="text-center pull-right"><a class="dir-link" href="javascript:void(0)" ui-sref="international">International Projects</a></div>
                </div>

            </div>
        </div>
    </div>
</div>

<style media="screen">
  .dir-list li{
    margin-bottom: 20px;
  }
</style>
