
<div id="info" class="container-fluid" ng-init="scrollTop()">
    <div class="container">
      <div class="text-left">
<br>
        <a style="display:inline-block;" class="back-btn " href="javascript:void(0)" ui-sref="associates"><img src="images/back.svg" width="20" /> </a>
      </div><br>
        <div class="row">
            <div class="col-md-12 text-left">

              <div class="col-md-6">
                <img src="assets/images/recognition/1.jpg" class="img-responsive" alt="">
              </div>

              <div class="col-md-6">

                <blockquote style="font-size:30px">
                  For it's exceptional contribution in field of infrastructure Chetak Enterprises Limited has been awarded as <br/>  <b>"Emerging Infra company of the year" </b> <br/> in 2017 by EPC World Media.
                </blockquote>

              </div>
              <div class="clearfix"></div>

              <marquee style="background:#fc3; padding-top:10px; margin-top:20px;">
                <p>"Awarded Six laning of  Shamlaji to Motachiloda from km 401.200 to 494.410 (length 93.210 km) Section  of NH-8 in the state of Gujarat Under NHDP phase - V"</p>
              </marquee>

              <div class="clearfix"></div>
              <div class="col-xs-12 text-center">
                <ul style="margin:50px 0; list-style-type:disc " class=" list-inline">
                  <li>
                    &bull; <a target="_blank"  href="assets/images/recognition/ChetakEnterprisesltd9001Certificate.pdf">Certificate of Registration</a>
                  </li>
                  <li>
                    &bull; <a target="_blank"  href="assets/images/recognition/EmergingInfraCompanyAward.pdf">Emerging Infra Company Award</a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>

    <div class="container">

      <p class="text-center" style="text-align:center"><a class="dir-link" href="javascript:void(0)" ui-sref="contact">Contact us</a></p>
    </div>

</div>
